<script>
import {
  authComputed
} from '@state/helpers'
import Api from '../http-common'

export default {
  data() {
    return {
      isUser: false,
      signIn: false,
      register: false,
      News: false,
      user: {},
    }
  },
  computed: {
    ...authComputed,
  },
  mounted() {
    if (localStorage.userData) {
      this.isUser = true
    }
  },
  methods: {
    closeFormDialog() {
      this.register = false;
    },
    goToProfile() {
      this.$router.push({
        name: 'profile'
      })
    },
    logOut() {
      localStorage.removeItem('userData');
      this.isUser = false;
      this.$route.push({
        name: 'home'
      });
    },
    _login(){
        Api.post('/login', {
          email: this.user.email,
          password: this.user.password
        })
        .then(res => {
          localStorage.setItem("authtoken", res.headers.auth_token)
          this.$router.push(this.$route.query.redirect || '/profile')
        })
        .catch(err => {
          console.log(err)
        })

    },
    _register(){
      Api.post('/register', {
        firstname: this.user.first_name,
        lastname: this.user.last_name,
        email: this.user.email,
        password: this.user.password,
        password_confirmation: this.user.password_confirmation
      })
      .then(res =>{
        this.flashMessage.success({
          title: "User created",
          message: "You will soon receive an email",
          time: 5000
        })
        this.register = false;
      })
      .catch(function(error){
        console.log(error)
        this.flashMessage.error({
          title: "Something went wrong",
          message: "Your profile has not been created",
          time: 5000
        })
      })
    }
  }
}
</script>

<template>
  <v-toolbar app>
    <v-toolbar-title class="headline text-uppercase">
      <span>Hedge</span>
      <span class="font-weight-light">FUND PROJECT</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn flat href="/" target="">
      <span class="mr-2">Home</span>
    </v-btn>
    <v-dialog v-model="signIn" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="user.email" label="Email*" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="user.password" label="Password*" type="password" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
          <div class="font-weight-light">Don't have an account? </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="signIn = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click="_login">Test</v-btn>
        </v-card-actions>
      </v-card>
      <template v-if="!isUser" v-slot:activator="{ on }">
        <v-btn flat v-on="on">
          <span class="mr-2">Sign In</span>
        </v-btn>
      </template>
    </v-dialog>
    <v-dialog v-model="register" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">User Registration</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="user.first_name" label="Legal first name*"  required ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="user.last_name" label="Legal last name*" required ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="user.email" label="Email*" required ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="user.password" label="Password*" type="password" required ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="user.password_confirmation" label="Password Confirmation*" type="password"  required ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="register = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click="_register">Register</v-btn>
        </v-card-actions>
      </v-card>
      <template v-if="!isUser" v-slot:activator="{ on }">
        <v-btn flat v-on="on">
          <span class="mr-2">Register</span>
        </v-btn>
      </template>
    </v-dialog>
    <v-btn v-if="isUser" flat @click="logOut">
      <span class="mr-2">LogOut</span>
    </v-btn>
    <v-btn flat href="news" target="">
      <span class="mr-2">News</span>
    </v-btn>
  </v-toolbar>
</template>

<style lang="scss" module>
@import '@design';
</style>
