<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main'
import axios from 'axios'

export default {
  name: 'Home',
  components: {
    Layout
  },
  metaInfo: {
    title: 'Home',
    meta: [{
      name: 'description',
      content: appConfig.description
    }],
  },
  data: () => ({
    signIn: false,
    register: false,
    isUser: false,
    News: false,
    coins: [],
    errors: []
  }),
  created() {
    // https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,ETH,IOT&tsyms=USD
    // this.cryptos = response.data
    axios.get('https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC,LTC,ETH,DOGE,USDT,DASH,EOS,XRP,ZEC,BCH,BGG,TRX,ETC,NEO,BNB,QTUM,BSV,ONT,XLM,LINK,BTT,MIOTA,USDC,ONE,MONA,BTG,VET,MANA,HOLO,LEO&tsyms=USD,EUR')
      .then(response => {
        this.coins = response.data.DISPLAY
        console.log(response)
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  mounted() {
    if (localStorage.userData) {
      this.isUser = true;
    }
  },
  methods: {
    goToProfile() {
      this.$router.push({
        name: 'profile'
      })
    }
  }
}
</script>

<template>
<Layout>
  <v-app>
    <section class="section">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr class="is-selected">
            <th>#</th>
            <th>Name</th>
            <th>Market Cap</th>
            <th>Price</th>
            <th>Volume (24h)</th>
            <th>Circulating Supply</th>
            <th>Open (24h)</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Market Cap</th>
            <th>Price</th>
            <th>Volume (24h)</th>
            <th>Circulating Supply</th>
            <th>Open (24h)</th>
          </tr>
        </tfoot>
        <tbody>
          <tr v-for="(value, key, index) in coins" :key="(value, key, index)">
            <th>{{index + 1}}</th>
            <td>{{key}}</td>
            <td>{{value.EUR.MKTCAP}}</td>
            <td>{{value.EUR.PRICE}}</td>
            <td>{{value.EUR.VOLUME24HOUR}}</td>
            <td>{{value.EUR.SUPPLY}}</td>
            <td>{{value.EUR.OPEN24HOUR}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </v-app>
</Layout>
</template>
