<script>
import Layout from '@layouts/main'
import Api from '../../http-common'

export default {
  components: { Layout },
  data(){
      return{
          firstname: '',
          lastname: '',
          email: '',
          password: '',
          urlPublic:'',
          user: {},
          isUser: '',
          edit: ""
      }
  },
  beforeMount(){
    const token = localStorage.getItem("authtoken");
    Api.get('/user', {
      headers: {
        authtoken: token
      }
    }).then(res => {
      this.firstname = res.data.firstname;
      this.lastname = res.data.lastname;
      this.email = res.data.email;
    })
  },
  mounted() {

  },
  methods: {
    saveProfile(){
      var user = {
        firstname: this.firstname,
        name: this.name,
        email: this.email,
        password: this.password,
        urlPublic: this.urlPublic
      };
      var data = JSON.stringify(user);
      localStorage.userData = data;
    },
    generatePublicURL(){
        console.log('Generating');
    },
    returnHome(){
        this.$router.push({
            name: 'home'
        })
    },
    _edit(){
      const token = localStorage.getItem("authtoken");
      Api.patch('/user/edit',{
        firstname: this.user.first_name,
        lastname: this.user.last_name,
        email: this.user.email,
        password: this.user.password,
        password_confirmation: this.user.password_confirmation
      }, {
        headers: {
          authtoken: token
        }
      }).then(res =>{
        console.log(res)
        this.flashMessage.success({
          title: "User edited",
          message: "Your profile has been modified",
          time: 5000
        })
        this.$router.go()
      }).catch(()=>{
        this.flashMessage.error({
          title: "Something went wrong",
          message: "Your profile has not been modified",
          time: 5000
        })
      })
    }
  }
}
</script>

<style lang="scss" module>
  @import '@design';
  .cardheader{

  }
</style>

<template>
  <Layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card dark class="card">
        <div>
          <h3 class="headline mb-0 text-md-center">{{firstname}} {{ lastname }}'s profile</h3>
        </div>
        <v-card-title primary-title class="justify-center">
          <template>
            <div>{{email}}</div>
          </template>
        </v-card-title>

        <div class="md6">
          <v-card-actions class=justify-center>
            <v-btn flat color="orange" @click="generatePublicURL">Generate</v-btn>
            <v-text-field

                    v-model="urlPublic"
                    label="URL Public"
            ></v-text-field>
          </v-card-actions>
        </div>
        <v-dialog v-model="edit" persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="headline">User edit profile</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="user.first_name" label="Legal first name*"  required ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="user.last_name" label="Legal last name*" required ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field v-model="user.email" label="Email*" required ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field v-model="user.password" label="Password*" type="password" required ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field v-model="user.password_confirmation" label="Password Confirmation*" type="password"  required ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="edit = false">Close</v-btn>
              <v-btn color="blue darken-1" flat @click="_edit">Edit</v-btn>
            </v-card-actions>
          </v-card>
          <template v-if="!isUser" v-slot:activator="{ on }">
            <v-btn flat v-on="on">
              <span class="mr-2">Edit</span>
            </v-btn>
          </template>
        </v-dialog>
        <div >
          <v-card-actions class=justify-center>
            <v-btn flat color="orange" @click="returnHome">Cancel</v-btn>
            <v-btn flat color="orange" @click="saveProfile(firstname, name, email, password)">Save</v-btn>
          </v-card-actions>
        </div>
      </v-card>

    </v-flex>
  </Layout>
</template>
