<template>
<v-app>
  <FlashMessage></FlashMessage>
  <v-content transition="slide-x-transition">
    <router-view></router-view>
  </v-content>
</v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      //
    }
  }
}
</script>
