<script>
import NavBar from '@components/nav-bar'

export default {
  components: { NavBar },
}
</script>

<template>

<div style="background-image: url('https://www.cgfinance.fr/wp-content/uploads/2016/04/cg-finance-background-homepage.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-size: 100%; background-position:center; min-height: 100vh;"
  >
  <NavBar />
  <v-content>
    <v-container fluid>    
    <slot />
    </v-container>
  </v-content>
</div>
 
</template>

<style lang="scss" module>
@import '@design';
</style>
